<!DOCTYPE html>
<html>
  <head>
    <title>RedditRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <form action="<%= session_url %>" value="POST">
      <input type="hidden" name="_method" value="DELETE">
      <button>Bye-Bye For Now (sign-out)</button>
    </form>
    <%= yield %>
  </body>
</html>
