<% if(type == 0) { %>
<div class="page center <%- bg %>">
  <div class="prititle"><%- title %></div>
  <div class="subtitle"><%- subtitle %></div>
</div>
<% } else { %>
<div class="bg-page <%- bg %>">
  <div class="center bg bg-dim page">
    <div class="prititle"><%- title %></div>
    <div class="subtitle"><%- subtitle %></div>
  </div>
</div>
<% } %>