<% if(type == 0) { %>
<div class="page <%- bg %>">
  <div class="eptitle"><%- title %></div>
  <div class="estitle"><%- subtitle %></div>
</div>
<% } else { %>
<div class="bg-page <%- bg %>">
  <div class="bg bg-dim page">
    <div class="eptitle"><%- title %></div>
    <div class="estitle"><%- subtitle %></div>
  </div>
</div>
<% } %>